.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 2px 10px #0000001a; 
    border-radius: 16px;
    margin-top: 10px;
    max-width: 1030px;
    
&__image {
    width: 138px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    &_inner {
        height: 80px;
        width: 80px;
        align-self: center;
    }
}
&__content {
   padding: 16px 30px 16px;
   flex: 1;
}

&__items {
    display: flex;
    align-items: center;
    &_title {
        width: 130px;
        height: 25px;
        background: #e0e0e0;
        border-radius: 16px;
        margin-right: 12px;
    }
    &_status {
        width: 69px;
        height: 25px;
        background: #e0e0e0;
        border-radius: 16px;
    }
}
&__date {
    margin-top: 10px;
    width: 200px;
    height: 15px;
    background: #e0e0e0;
    border-radius: 16px;
}
&__text {
    width: 530px;
    height: 14px;
    background: #e0e0e0;
    border-radius: 16px;
    margin-top: 5px;
    &:last-child {
        width: 380px;
        margin-top: 5px;
    }
}
}